<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 th:text="#{board.title}">상품 목록</h2>
  </div>


  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-left"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/}'|"
              type="button" th:text="#{page.home}">홈 화면</button>
    </div>
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/board/add}'|"
              type="button" th:text="#{board.register}">게시글 등록</button>
    </div>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th th:text="#{board.id}">글 번호</th>
        <th th:text="#{board.register.title}">제 목</th>
        <th th:text="#{board.member.userId}">작성자 ID</th>
        <th th:text="#{board.member.view}">조회수</th>
        <th th:text="#{board.register.date}">등록 날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.id}">글 번호</td>
        <td><a href="item.html" th:href="@{/board/read/{Id}(Id=${board.id})}" th:text="${board.title}">제 목</a></td>
        <td th:text="${{board.userId}}">작성자 ID</td>
        <td th:text="${{board.viewCount}}">조회수</td>
        <td th:text="${{board.regDate}}">등록 날짜</td>

      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>